DJANGO_SECRET_KEY=secret-key
DJANGO_DEBUG=true
CORS_ALLOWED_ORIGINS=http://localhost:3000
COGNITO_DOMAIN=https://your_user_pool.auth.us-east-1.amazoncognito.com
COGNITO_APP_CLIENT_ID=
COGNITO_APP_CLIENT_SECRET=
COGNITO_REDIRECT_URI=http://localhost:8000/callback
COGNITO_LOGOUT_REDIRECT_URI=http://localhost

